* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


.container_navbar {
    width: 100%;
    height: 12vw;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.section_logo {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container_navbar:hover .container_header_logo_img {
    height: 80%;
    transition: 0.2s linear;
}

.container_navbar:hover .header_logo_img {
    height: 80%;
    transition: 0.2s linear;

}

.container_navbar:not(:hover) .container_header_logo_img {
    transition: 0.3s linear;
}

.container_navbar:not(:hover) .header_logo_img {
    transition: 0.3s linear;
}

.navbar:hover .style_header_logo_text {
    transition: font-size 0.2s;
    display: initial;
    font-size: 1.3vw;
    font-weight: 300;
    letter-spacing: 2px;
    height: 5%;
}
.container_header_logo_img {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.style_header_logo_text {
    height: 0%;
    display: hidden;
    text-align: center;
    font-size: 0;
    font-weight: 300;
    letter-spacing: 0;
    transition: font-size 0.1s;
}

.header_logo_img {
    height: 100%;
}


.style_header_text {
    text-decoration: none;
    font-size: 1.3vw;
    font-weight: 300;
    letter-spacing: 3px;
    padding: 0.5vw 2vw;
    height: 3vw;
    color: black;
    display: inline-block;
    position: relative;
}
.style_header_text:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    height: 0.15vw;
    left: 50%;
    position: absolute;
    background: #E60001;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.style_header_text:hover:after { 
    width: 100%; 
    left: 0; 
}

.active_navbar_content {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    border-bottom: #E60001 solid 0.15vw;
    font-size: 1.3vw;
    font-weight: 300;
    padding: 0.5vw 2vw 0.35vw 2vw;
    display: flex;
    height: 3vw;
}

@media (max-width: 991px) {
    .section_logo {
        display: none;
    }
    .container_navbar {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-bottom: 10px;
    }
    .active_navbar_content {
        border: 0;
        font-size: 15px;
        padding: 10px 0;
    }
    .style_header_text:after {
        display: none;
    }
    .style_header_text {
        font-size: 15px;
        padding: 10px 0;
    }
    .dropdown-content {
        height: 75px;
        padding-left: 10px;
        padding: 10px 0;
    }
    .dropdown:not(:hover) .dropdown-content{
    }
}

@media (min-width: 991px) {
    .navbar-brand {
        display: none;
    }
}


.dropdown {
    width: 12vw;
}

.dropbtn { 
    height: 3vw;
}

.dropbtn {
    text-transform: uppercase;
}
.dropdown-content {
    display: none;
}

.dropdown-content a {
    display: flex;
    flex-direction: column;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container_first_object {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.style_main_title {
    font-size: 4vw;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #595759;
    margin: 30px 0;
    font-weight: 300;
    text-decoration: none;

}
.container_logo_main_page {
    width: 20vw;
    height: 25vw;
    padding-left: 40px;
}

.container_history_team {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 10vw 40px 10vw ;
}

.style_text {
    color: #595759;
    font-size: 1.5vw;
    letter-spacing: 3px;
    font-weight: 300;
}

.style_header_logo {
    display: initial;
    height: 60px;
    padding: 15px 15px 0 0 ;
}

.wrapper_main_two_page {
    background-image: url(https://wilmetteinstitute.org/wp-content/uploads/2020/04/Earth20from20Space.jpg);
    background-size: cover;
    width: 100%;
    background-position-x: center;
    background-position-y: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.style_tournament_icon {
    margin: 3vw 0;
    height: 12vw;
}

.container_main_match_info {
    display: flex;
    margin-bottom: 4vw;
    align-items: center;
}

.container_main_information {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.style_result_match {
    letter-spacing: 20px;
    font-size: 6vw;
}

.style_main_information_match_map {
    font-size: 1.3vw;
}

.style_team_img {
    height: 13vw;
}

.container_team_img {
    height: 13vw;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_footer {
    background-color: black;
    color: #595759;
    font-size: 1.4vw;
    text-transform: uppercase;
    letter-spacing: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw 0;
}
@media (max-width: 991px) {
    .container_history_team {
        display: flex;
        flex-direction: column;
        margin: 0 3vw 40px 3vw;
    }
    .container_logo_main_page {
        display: none;
    }
    .style_text {
        font-size: 15px;
    }
    .container_footer {
        font-size: 15px;
    }
}