* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


.container_navbar {
    width: 100%;
    height: 12vw;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.section_logo {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container_navbar:hover .container_header_logo_img {
    height: 80%;
    transition: 0.2s linear;
}

.container_navbar:hover .header_logo_img {
    height: 80%;
    transition: 0.2s linear;

}

.container_navbar:not(:hover) .container_header_logo_img {
    transition: 0.3s linear;
}

.container_navbar:not(:hover) .header_logo_img {
    transition: 0.3s linear;
}

.navbar:hover .style_header_logo_text {
    transition: font-size 0.2s;
    display: initial;
    font-size: 1.3vw;
    font-weight: 300;
    letter-spacing: 2px;
    height: 5%;
}
.container_header_logo_img {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.style_header_logo_text {
    height: 0%;
    display: hidden;
    text-align: center;
    font-size: 0;
    font-weight: 300;
    letter-spacing: 0;
    transition: font-size 0.1s;
}

.header_logo_img {
    height: 100%;
}


.style_header_text {
    text-decoration: none;
    font-size: 1.3vw;
    font-weight: 300;
    letter-spacing: 3px;
    padding: 0.5vw 2vw;
    height: 3vw;
    color: black;
    display: inline-block;
    position: relative;
}
.style_header_text:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    height: 0.15vw;
    left: 50%;
    position: absolute;
    background: #E60001;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.style_header_text:hover:after { 
    width: 100%; 
    left: 0; 
}

.active_navbar_content {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    border-bottom: #E60001 solid 0.15vw;
    font-size: 1.3vw;
    font-weight: 300;
    padding: 0.5vw 2vw 0.35vw 2vw;
    display: flex;
    height: 3vw;
}

@media (max-width: 991px) {
    .section_logo {
        display: none;
    }
    .container_navbar {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-bottom: 10px;
    }
    .active_navbar_content {
        border: 0;
        font-size: 15px;
        padding: 10px 0;
    }
    .style_header_text:after {
        display: none;
    }
    .style_header_text {
        font-size: 15px;
        padding: 10px 0;
    }
    .dropdown-content {
        height: 75px;
        padding-left: 10px;
        padding: 10px 0;
    }
    .dropdown:not(:hover) .dropdown-content{
    }
}

@media (min-width: 991px) {
    .navbar-brand {
        display: none;
    }
}


.dropdown {
    width: 12vw;
}

.dropbtn { 
    height: 3vw;
}

.dropbtn {
    text-transform: uppercase;
}
.dropdown-content {
    display: none;
}

.dropdown-content a {
    display: flex;
    flex-direction: column;
}

.dropdown:hover .dropdown-content {
    display: block;
}



/*

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

*/

/*
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Astralis</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="container_navbar ">
          <a class="active_navbar_content" href="index.html">Main</a>
          <span class="dropdown">
            <a class="dropbtn style_header_text">Matches
            </a>
            <p class="dropdown-content">
              <a class="style_header_text" href="calendar.html">Calendar</a>
              <a class="style_header_text" href="#">Games</a>
              <a class="style_header_text" href="#">Raiting</a>
            </p>
          </span>
          <a class="style_header_text" href="news.html">News</a>
          <div class="section_logo">
            <div class="container_header_logo_img">
              <img class="header_logo_img" src="https://seeklogo.com/images/A/astralis-logo-699327D2F0-seeklogo.com.png"
                alt="">
            </div>
            <p class="style_header_logo_text">Astralis</p>
          </div>
          <a class="style_header_text" href="fan.html">Fan</a>
          <a class="style_header_text" href="contacts.html">Contacts</a>
          <a class="style_header_text" href="admin.html">Admin</a>
        </div>
      </div>
    </div>
  </nav>





  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
*/